<!doctype html>
<html>
<head>
    <title> Welcome to Port Salut Beach! </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> User Profile </h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Barista Zuko</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="CashierTitle">
          <h2>Which package would you like?  </h2>
        </div>

        <form class="CashierTitle" action="/orders" method="POST">
          <input type="text" value="" placeholder="customer name" name="name">
          <input type="text" placeholder="type of stay" name="order" >
          <h2> Select Package Below</h2>
          <select name="package" class="Size" >
            <option> Night Life Package</option>
            <option>Babysitter Package (for those with young children)</option>
            <option> Newlyweds package </option>
            <option> Honey Moon Suite Platinum </option>
            <option> Two Bedroom One Bathroom Economy Package </option>
            <option> Family Suite (Inlaws get a separate suite) </option>
            <option> Newlyweds package Deluxe </option>
            <option> Daydreamer's Dream Experience </option>
            </ol>
          </select>
          <button type="submit">Submit</button>
        </form>
        <div class="layout col-sm-6">
          <h3> Active Orders</h3>
          <ul class="orders">
          <% for(var i=0; i<orders.length; i++) {%>
            <% if (orders[i].status === 'active'){ %>
              <li id="<%= orders[i]._id %>" class="order <%= orders[i].status %>">
                <span><%= orders[i].name %></span>
                <span><%= orders[i].order %></span>
                <span><%= orders[i].status %></span>


              </li>
          <% }%>
          <% }%>
          </ul>
          <h3 class="completed"> heloooooooo</h3>

          <h3> Complete Orders</h3>
          <ul class="orders">
          <% for(var i=0; i<orders.length; i++) {%>
            <% if (orders[i].status === 'completed'){ %>
            <li class="order <%= orders[i].status %>">
              <span><%= orders[i].name %></span>
              <span><%= orders[i].order %></span>
              <span><%= orders[i].status %></span>
            </li>
          <% } %>
          <% } %>
          </ul>

        </div>


</div>

<script src="main.js"></script>

</body>
</html>
